/* hero design tokens */
:root {
  --hero-height: 480px;
  --hero-bg-gradient: linear-gradient(105deg, rgb(8 40 99) 0%, rgb(39 115 139) 100%);
  --hero-text-left: 40px;
}

@media (width >= 900px) {
  :root {
    --hero-text-left: 115px;
  }
}
