/* stylelint-disable max-line-length */

/* Proxima Nova - primary body font */
@font-face {
  font-family: proxima-nova;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/proximanova-light.woff2') format('woff2');
}

@font-face {
  font-family: proxima-nova;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/proximanova-regular.woff2') format('woff2');
}

@font-face {
  font-family: proxima-nova;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/proximanova-semibold.woff2') format('woff2');
}

@font-face {
  font-family: proxima-nova;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/proximanova-bold.woff2') format('woff2');
}

/* Sigvar Serial - heading/display font */
@font-face {
  font-family: sigvar;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/sigvar-light.woff2') format('woff2');
}

@font-face {
  font-family: sigvar;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sigvar-regular.woff2') format('woff2');
}

@font-face {
  font-family: sigvar;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/sigvar-xbold.woff2') format('woff2');
}
